{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR Academy</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">CHAPTER</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">CHAPTER LIST</a>
                </li>
            </ul>
        </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">CHAPTTER LIST:</h4>
                            <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Add Chapter
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                            New</span> 
                                            <span class="fw-light">
                                                Row
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/dashboard/chapters/" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label for="addPosition">Select Syllabus</label>                                                       
                                                        {{form.syllabus}}
                                                </div>
                                                </div>
                                                <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label for="addPosition">Select Standard</label>                                                       
                                                        {{form.standard}}
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="addName" class="form-group form-group-default">
                                                        <label>Subject Name</label>
                                                        {{form.subject}}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Chapter Name</label>
                                                        {{form.name}}
                                                    </div>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value={{form.active}}>
                                        
                                                    <span class="form-check-sign">Active</span>
                                                    </label>
                                                </div>
                                                
                                            </div>
                                        
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="submit" id="addRowButton" class="btn btn-primary">Add</button>
                                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        {% comment %} <th>Subject</th> {% endcomment %}
                                        <th>Chapter</th>
                                        <th>Active</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for chapter in chapters %}
                                    <tr>
                                        <td><a href="{% url 'video' %}?chapter={{chapter.pk}}">{{chapter.name}}</a></td>

                                        {% comment %} <td>{{chapter.name}}</td> {% endcomment %}
                                        <td>{{chapter.active}}</td>
                                        <td>
                                            <div class="form-button-action">
                                                <label class="switch">
                                                <input type="checkbox" {% if chapter.active %} checked {% endif %} data-toggle="toggle" data-width="100" data-height="75" onclick="makeActive({{chapter.id}}, 'Chapter')">
                                                {% comment %} <span class="slider round"></span> {% endcomment %}
                                                </label> 
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here--> {% endcomment %}
	  <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
            {% comment %} <script type="text/javascript"> {% endcomment %}

            {% comment %} <script type="text/javascript">
                    $(document).ready(function() {
                        $('#checkbox').change(function() {
                        $.post("/toggle/", {
                        id: '{{syllabus.id}}', 
                        active: this.checked, 
                        csrfmiddlewaretoken: '{{ csrf_token }}' 
                    });
                });
            });  {% endcomment %}
        <script>
        {% comment %} const  makeActive = (id, model) => {
            $.ajax({
                type: "POST",
                url: "{% url 'toggle' %}",
                data: {
                   id: id, 
                   model: model,
                   csrfmiddlewaretoken: '{{ csrf_token }}'  
                },
                success: (res) => {
                   location.reload()
                },
            
            });
        } {% endcomment %}
            
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);
                                //active
							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
                    
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});

                  
	</script>

{% endblock javascripts %}