






{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% comment %} {{form}} {% endcomment %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Forms</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">VIdeo</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Document Upload</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Form Elements</div>
                    </div>
        <form method="post">
            {% csrf_token %}                 
             <div class="container-fluid">
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Name</label>
                                <input type="textarea" class="form-control" id={{form.name}} placeholder="Enter Your Name">       
                               
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Subtitle</label>
                                <input type="textarea" class="form-control" id={{form.subtitle}} placeholder="Enter Your Name">       
                               
                            </div>
                        </div>  
                </div>
                        <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        <textarea class="form-control" id={{form.description}} aria-label="With textarea"></textarea>
                                    </div>
                        </div>
                        {% comment %} <div class="form-group">
                        <div class="col-md-2 col-lg-6"> 
                                <label for="Description">Description</label>
                                <textarea class="form-control" id='{{form.description}}' >
                                </textarea>
                        </div> 
                        </div>  {% endcomment %}
                         
                        <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Chapter</label>                                                       
                                        {{form.chapter}}
                                    </div>
                        </div>
                        </div>


                        <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Material Type</label>                                                       
                                        {{form.material_type}}
                                    </div>
                        </div>
                        </div>
                       

                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Image</label>
                                <input type="file" class="form-control-file" id='{{form.image}}' >
                        </div>  
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload thumbnail</label>
                                <input type="file" class="form-control-file" id='{{form.thumbnail_image}}' >
                        </div> 
                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Pdf</label>
                                <input type="file" class="form-control-file" id='{{form.pdf}}' >
                        </div>


                        </div>
                        <div class="form-group">
                                    <label for="basic-url">URL</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                        </div>
                                        <input type="text" class="form-control" id={{form.url_field}} aria-describedby="basic-addon3">
                                    </div>
                        </div>
                        <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value={{form.active}}>
                                        <span class="form-check-sign">Active</span>
                                    </label>
                        </div>
                        <div class="form-group">
                        {% comment %} {{form.as_p}}   {% endcomment %}
                            <button class="btn btn-outline-info" type="submit">submit</button>
                            <button class="btn btn-danger">Cancel</button>
                       
                        </div>
        </form> 
                </div>
            </div>
        </div>
{% endblock %}








{% comment %} <form method="post">
    {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}  
                <button class="btn btn-outline-info" type="submit">submit</button>
                <button class="btn btn-danger">Cancel</button>
                       
        </div>
</form>  {% endcomment %}