
{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% comment %} {{form}} {% endcomment %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR Academy</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Students List</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Student Register</a>
                </li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">STUDENT REGISTER </div>
                    </div>
                
    

    {% if messages %}
     <ul class="messages">
     {% for message in messages %}
        <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
         {{ message }}
        </div>
        </div>
     {% endfor %}
    </ul>
    {% else %}
    {% endif %}

    <form method="post" id="personForm" data-std-url="{% url 'ajax_load_std' %}" data-sub-url="{% url 'ajax_load_sub' %}" data-cit-url="{% url 'ajax_load_con' %}" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}                 
             <div class="container-fluid">
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Name :</label>
                                <input type="textarea" class="form-control" name="name" id="" placeholder="Enter Your Name">       
                               
                            </div>
                        </div> 
                        <div class="form-group col-md-4">
                            <label for="email2">Email Address :</label>
                                    
                            <input type="email" class="form-control" name="email" id="" placeholder="Enter Your Email">
                            <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
      
                        </div>
                    </div>

                  

                        			
                     <div class="row"> 
                        <div class="col-md-2 col-lg-4">
                            <div class="form-group col-md-12"> 
                                <label for="Phone">Phone Number :</label>
                                <input type="phone2numeric" class="form-control" name="contact_no" id="phon"   placeholder="Enter Phone Number">
                                
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Phone">Whatsapp Number :</label>
                               
                            <input type="phone2numeric" class="form-control" name="whatsapp_no" id="what" placeholder="Enter Whatsapp Number" >
                            <input type="checkbox" name="check1" onchange="copyTextValue(this);">

                                   <em>Same</em>
                        </div>
                        
                    </div>
                    
                    {% comment %} <div class="row">
                        <div class="form-group">
                                    <label for="smallSelect">COUNTRY</label>
                                    <select class="form-control form-control-sm" id="smallSelect" name="country"> {% endcomment %}
                                    {% comment %} <div class="form-group form-group-default"> {% endcomment %}
                                    {% comment %} <option value={{form.country}} > </option>                                                     {% endcomment %}
                                      
                                    {% comment %} </div> {% endcomment %}
                            
                                    {% comment %} </select>    
                            </div>     {% endcomment %}

                        <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select country :</label>                                                       
                                        {{form.country}}
                                    </div>
                                </div>


                        <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select state :</label>                                                       
                                        {{form.state}}
                                    </div>
                                </div>


                            {% comment %} <div class="form-group">
                                    <label for="smallSelect">STATE  </label>
                                    <select id="State" class="form-control form-control-sm" id="smallSelect" name="state"   > {% endcomment %}
                                    {% comment %} <div class="form-group form-group-default"> {% endcomment %}
                                    {% comment %} <option value={{form.state}} ></option>                                                     {% endcomment %}
                                      
                                    {% comment %} </div> {% endcomment %}
                            
                                    {% comment %} </select>    
                            </div>    
                        </div> {% endcomment %}
                      {% comment %} <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Country :</label>
                                <input type="textarea" class="form-control" name="country" id="" placeholder="Enter Your Country">       
                               
                            </div>
                        </div> 
                    </div> {% endcomment %}
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">City :</label>
                                <input type="textarea" class="form-control" name="city" id="" placeholder="Enter Your City">       
                               
                            </div>
                        </div> 
                    </div>  

                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">District :</label>
                                <input type="textarea" class="form-control" name="district" id="" placeholder="Enter Your District">       
                               
                            </div>
                        </div> 
                    </div>


                    <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select country :</label>                                                       
                                        {{form.present_country}}
                                    </div>
                                </div>

                     {% comment %} <div class="form-group">
                                    <label for="smallSelect">PRESENT COUNTRY</label>
                                    <select class="form-control form-control-sm" id="smallSelect" name="present_country"> {% endcomment %}
                                    {% comment %} <div class="form-group form-group-default"> {% endcomment %}
                                    {% comment %} <option >SELECT COUNTRY: </option>                                                    
                                    <option value={{form.present_country}} > </option>                                                     {% endcomment %}
                                     
                                    {% comment %} </div> {% endcomment %}
                            
                                    {% comment %} </select>    
                            </div>     {% endcomment %}
                    {% comment %} <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Present country :</label>
                                <input type="textarea" class="form-control" name="present_country" id="" placeholder="Enter Your Present Country">       
                               
                            </div>
                        </div> 
                    </div> {% endcomment %}
                    
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4">
                            <div class="form-group col-md-12"> 
                             <label for="textarea">Address :</label>
                             <input type="textarea" class="form-control" name="address" id="" placeholder="Enter Your Address">       

                             {% comment %} <textarea class="form-control" rows="5" id={{form.address}} > </textarea> {% endcomment %}
                                   
                            </div>
                        </div>

                        
                        
                    </div>

                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Image :</label>
                                <input type="file" class="form-control-file" name="image" id="" placeholder="Insert Image">
                        </div> 
                                 {% comment %} <div class="form-group has-error has-feedback">
                                    <label for="errorInput">Error Input</label>
                                    <input type="text" id="errorInput" value="Error" class="form-control">
                                    <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
                                </div>  {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label for="disableinput">Disable Input</label>
                                    <input type="text" class="form-control" id="disableinput" placeholder="Enter Input" disabled>
                                {% comment %} </div> {% endcomment %}
                                
                                
                                {% comment %} <div class="form-check">
                                    <label>Gender</label><br/>
                                    <label class="form-radio-label">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value=""  checked="">
                                        <span class="form-radio-sign">Male</span>
                                    </label>
                                    <label class="form-radio-label ml-3">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value="">
                                        <span class="form-radio-sign">Female</span>
                                    </label>
                                </div> {% endcomment %}
                        <div class="row"> 
                        <div class="col-md-2 col-lg-4">
                            <div class="form-group col-md-12"> 
                                <label for="text">Guardian Name :</label>
                                <input type="text" class="form-control" name="guardian_name" id="" placeholder="Enter Name">
                                   
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="text">Guardian Relation :</label>
                                    
                            <input type="text" class="form-control" name="guardian_relation" id="" placeholder="Enter Relation" >
                                   
                        </div>
                        
                    </div>

                                
                                
                                {% comment %} <div class="form-group">
                                    <div class="form-group col-md-2">
                                    <label for="Phone">SCHEME:</label>
                                                    {{form.scheme}}
                                                </div>
                                </div>  {% endcomment %}


                                


                                <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select syllabus :</label>                                                       
                                        {{form.syllabus}}
                                    </div>
                                </div>
                     
                                <div class="col-sm-4">
                                    <div class="form-group form-group-default" >
                                    <label for="addPosition">Select STANDARD :</label>                                                       
                                        {{form.standard}}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group form-group-default" >
                                    <label for="addPosition">SCHEME :</label>
                                                    {{form.scheme}}
                                                </div>
                                </div> 

                                <div class="row"> 
                                     <div class="col-md-2 col-lg-4">
                                        <div class="form-group col-md-12"> 
                                            <label for="textarea">Course Type :</label>
                                            <input type="textarea" class="form-control" name="course_type" id="" placeholder="Enter Your Course">       

                             
                                   
                                         </div>
                                    </div>
                                </div>
                               
                                
                            
                                <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="active" value="active">
                                        <span class="form-check-sign">Active</span>
                                    </label>
                                </div>
                            
                            <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="is_paid" value="is_paid">
                                        <span class="form-check-sign">Is_paid</span>
                                    </label>
                                </div>

                                {% comment %} <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="paid" value="paid">
                                        <span class="form-check-sign">Paid</span>
                                    </label>
                                </div>                                 {% endcomment %}
                            
                            
                        
                    
                    <div class="form-group">
                        {% comment %} {{form.as_p}}   {% endcomment %}
                         <button class="btn btn-outline-info" type="submit">Submit</button>
                          <button class="btn btn-danger">Cancel</button>
                       
                    </div>
    </form> 
                            {% comment %} <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <td>{{teacher.name}}</td>
                                        <td>{{teacher.email}}</td>
                                        <td>{{teacher.password}}</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %} 
                           </tbody>  {% endcomment %}
                           
                            {% comment %} <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td>{{student.name}}</td>
                                        <td>{{student.standard}}</td>
                                        <td>{{student.course_type}}</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    {% comment %} $(document).ready(function(){ {% endcomment %}
    $("#id_syllabus").change(function () {
      var url = $("#personForm").attr("data-std-url");  // get the url of the `load_cities` view
      var syllabusId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'syllabus_id': syllabusId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_standard").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 
    $("#id_standard").change(function () {
      var url = $("#personForm").attr("data-sub-url");  // get the url of the `load_cities` view
      var standardId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'standard_id': standardId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_scheme").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 


    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cit-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country_id': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_state").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 
    {% comment %} $(document).ready(function(){
  $("button").click(function(){
    $("input").clone().appendTo("body");
  });
}); {% endcomment %}

function copyTextValue(bf) {
  var text1 = bf.checked ? document.getElementById("phon").value : '';
  document.getElementById("what").value = text1;
  
}
  </script>

{% endblock javascripts %}


{% comment %} <form> 
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-info" type="submit">submit</button>
                          <button class="btn btn-danger">Cancel</button>
                       
                    
</form>    {% endcomment %}




{% comment %} <form method="post"  class="post-form" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-info" type="submit">submit</button>
                          <button class="btn btn-danger">Cancel</button>
                       
                    
</form> {% endcomment %}