{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% comment %} {{form}} {% endcomment %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR Academy</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Teacher</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Teacher Regster</a>
                </li>
            </ul>
        </div>
    {% comment %} </div> {% endcomment %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Teacher Registration</div>
                    </div>
               
           
       
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}                 
            <div class="container-fluid">
                <div class="card-body">
                    <div class="row">                         
                        <div class="form-group col-md-4">
                                <label for="name">Name</label>           
                                <input type="text" class="form-control" name=name id="" placeholder="Enter Your Name">             
                        </div>
                    </div>   
                </div>
                     
                

                  

                        			
                <div class="card-body">   
                    <div class="row">                         
                        <div class="form-group col-md-4">
                                <label for="email2">Email Address</label>           
                                <input type="email" class="form-control" name=email id="" placeholder="Enter Your Email">
                                <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group col-md-4">
                           <label for="Address">Address</label>
                           <input type="textarea" class="form-control" name="address" id="" placeholder="Enter Your Address">          
                        </div>
                    </div>        
                </div>    
               

                    
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4">
                            <div class="form-group col-md-12"> 
                             <label for="Phone">Phone Number</label>
                             <input type="phone2numeric" class="form-control" name="contact_no_1" id= "phon" placeholder="Enter Phone Number">
                                   
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Phone">Whatsapp Number</label>
                                    
                            <input type="phone2numeric" class="form-control" name="whatsapp_no" id="what" placeholder="Enter Whatsapp Number">
                            <input type="checkbox" name="check1" onchange="copyTextValue(this);">

                                   <em>Same</em>
                        </div>
                        
                    </div>

                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Image</label>
                                <input type="file" class="form-control-file" name="image" id="" placeholder= "insert image">
                        </div> 
                                {% comment %} <div class="form-group has-error has-feedback">
                                    <label for="errorInput">Error Input</label>
                                    <input type="text" id="errorInput" value="Error" class="form-control">
                                    <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label for="disableinput">Disable Input</label>
                                    <input type="text" class="form-control" id="disableinput" placeholder="Enter Input" disabled>
                                {% comment %} </div> {% endcomment %}
                                
                                
                                {% comment %} <div class="form-check">
                                    <label>Gender</label><br/>
                                    <label class="form-radio-label">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value=""  checked="">
                                        <span class="form-radio-sign">Male</span>
                                    </label>
                                    <label class="form-radio-label ml-3">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value="">
                                        <span class="form-radio-sign">Female</span>
                                    </label>
                                </div> {% endcomment %}
                                

                                <div class="form-group">
                                    <div class="form-group col-md-3">
                                    <label for="Phone">SUBJECT</label>
                                                    {{form.subject}}
                                                </div>
                                </div> 

                                
                                    {% comment %} <div class="col-md-12"> 
                                            <select class="mdb-select md-form" multiple>
                                                <option value="" disabled selected>Choose your Subject</option>
                                                <option value="1">{{form.subject}}</option>
                                                <option value="2">{{form.subject}}</option>
                                                <option value="3">{{form.subject}}</option>
                                                <option value="4">{{form.subject}}</option>
                                                <option value="5">{{form.subject}}</option>
                                            </select>  {% endcomment %}
                                            {% comment %} <button class="btn-save btn btn-primary btn-sm">Save</button> {% endcomment %}

                                         
                                {% comment %} </div>                         {% endcomment %}

                                {% comment %} <div class="form-group col-md-1">
                                    <label for="exampleFormControlSelect2">Subject</label>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div> {% endcomment %}

{% comment %} 
                                <div class="form-check">
                                    <lable for="id_user">USER:</lable>
                                    <select name=user   {% endcomment %}
                                
                                
                           
                                <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="active" value="active">
                                        <span class="form-check-sign">Active</span>
                                    </label>
                                </div>
                                
                            
                            
                        
                    
                    <div class="form-group">
                        {% comment %} {{form.as_p}}   {% endcomment %}
                         <button class="btn btn-outline-info" type="submit">Submit</button>
                          <button class="btn btn-danger">Cancel</button>
                       
                    </div>
                </form> 
                            <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <td>{{teacher.name}}</td>
                                        <td>{{teacher.email}}</td>
                                        <td>{{teacher.phone_number}}</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %} 
                           </tbody> 
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

function copyTextValue(bf) {
  var text1 = bf.checked ? document.getElementById("phon").value : '';
  document.getElementById("what").value = text1;
  
}

</script>

{% endblock javascripts %}

{% comment %} <form method="post" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}  
                <button class="btn btn-outline-info" type="submit">submit</button>
                <button class="btn btn-danger">Cancel</button>
                       
        </div>
</form>   {% endcomment %}
