{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR Academy</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">SCHEME</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">SCHEME LIST</a>
                </li>
            </ul>
        </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">SCHEME LIST:</h4>
                            <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Add Scheme
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                            Add</span> 
                                            <span class="fw-light">
                                                Scheme
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                   <form method="post"class="post-form" enctype="multipart/form-data" id="videoForm" data-std-url="{% url 'ajax_load_std' %}" data-sub-url="{% url 'ajax_load_subj' %}" data-chap-url="{% url 'ajax_load_chap' %}">
                                        <div class="card-body">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <div class="form-group">
                                            <button class="btn btn-outline-info" type="submit">submit</button>
                                            <button class="btn btn-danger">Cancel</button>
                                        </div>
                                    </form>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        {% comment %} <th>Subject</th> {% endcomment %}
                                        <th>Scheme</th>
                                        <th>Syllabus</th>
                                        <th>standard</th>
                                        <th>Subjects</th>
                                        <th>Active</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for scheme in schemes %}
                                    <tr>
                                        <td>{{scheme.name}}</td>
                                        <td>{{scheme.syllabus}}</td>
                                        <td>{{scheme.standard}}</td>
                                        <td>{% for subject in scheme.subject.all %}{{ subject }}<br/>{% endfor %}</td>
                                        <td>{{scheme.active}}</td>
                                        <td>
                                            <div class="form-button-action">
                                                <label class="switch">
                                                <input type="checkbox" {% if scheme.active %} checked {% endif %} data-toggle="toggle" data-width="100" data-height="75" onclick="makeActive({{scheme.id}}, 'Scheme')">
                                                <span class="slider round"></span>
                                                </label> 
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here--> {% endcomment %}
	  <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
            {% comment %} <script type="text/javascript"> {% endcomment %}

            {% comment %} <script type="text/javascript">
                    $(document).ready(function() {
                        $('#checkbox').change(function() {
                        $.post("/toggle/", {
                        id: '{{syllabus.id}}', 
                        active: this.checked, 
                        csrfmiddlewaretoken: '{{ csrf_token }}' 
                    });
                });
            });  {% endcomment %}
        <script>
        {% comment %} const  makeActive = (id, model) => {
            $.ajax({
                type: "POST",
                url: "{% url 'toggle' %}",
                data: {
                   id: id, 
                   model: model,
                   csrfmiddlewaretoken: '{{ csrf_token }}'  
                },
                success: (res) => {
                   location.reload()
                },
            
            });
        } {% endcomment %}
            
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);
                                //active
							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
                    
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});

        $("#id_syllabus").change(function () {
            var url = $("#videoForm").attr("data-std-url");  // get the url of the `load_cities` view
            var syllabusId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'syllabus_id': syllabusId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data);
                $("#id_standard").html(data);  // replace the contents of the city input with the data that came from the server

                  /*let html_data = '<option value="">---------</option>';
                      data.forEach(function (standard) {
                          html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 
    $("#id_standard").change(function () {
      var url = $("#videoForm").attr("data-sub-url");  // get the url of the `load_cities` view
      var standardId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'standard_id': standardId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_subject").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    });

    $("#id_subject").change(function () {
      var url = $("#videoForm").attr("data-chap-url");  // get the url of the `load_cities` view
      var subjectId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'subject_id': subjectId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_chapter").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 


    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cit-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country_id': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_state").html(data);  // replace the contents of the city input with the data that came from the server

           
        

        }

      });

    });
                  
	</script>

{% endblock javascripts %}