{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR ACADEMY</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">VIDEO</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Video Upload</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">UPLOAD VIDEO:</div>
                    </div>
        

  <form method="post"class="post-form" enctype="multipart/form-data" id="videoForm" data-std-url="{% url 'ajax_load_std' %}" data-sub-url="{% url 'ajax_load_subj' %}" data-chap-url="{% url 'ajax_load_chap' %}">
    <div class="card-body">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
  </form>
  </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block javascripts %}
  <script>
    {% comment %} $(document).ready(function(){ {% endcomment %}
    $("#id_syllabus").change(function () {
      var url = $("#videoForm").attr("data-std-url");  // get the url of the `load_cities` view
      var syllabusId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'syllabus_id': syllabusId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_standard").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 
    $("#id_standard").change(function () {
      var url = $("#videoForm").attr("data-sub-url");  // get the url of the `load_cities` view
      var standardId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'standard_id': standardId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_subject").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    });

    $("#id_subject").change(function () {
      var url = $("#videoForm").attr("data-chap-url");  // get the url of the `load_cities` view
      var subjectId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'subject_id': subjectId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_chapter").html(data);  // replace the contents of the city input with the data that came from the server

            
        

        }

      });

    }); 

  </script>

{% endblock javascripts %}






