






{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

{% comment %} {{form}} {% endcomment %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR ACADEMY</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Document</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Study maerial</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Study Material</div>
                    </div>
        <form method="post"class="post-form" enctype="multipart/form-data" id="studyForm" data-std-url="{% url 'ajax_load_std' %}" data-sub-url="{% url 'ajax_load_subj' %}" data-cit-url="{% url 'ajax_load_con' %}"  data-chap-url="{% url 'ajax_load_chap' %}">
            {% csrf_token %}                 
             <div class="container-fluid">
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Name</label>
                                <input type="textarea" class="form-control" name="name" id="" placeholder="Enter Your Name">       
                               
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Subtitle</label>
                                <input type="textarea" class="form-control"name="subtitle" id="" placeholder="Enter Your Name">       
                               
                            </div>
                        </div>  
                </div>
                        <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        <textarea class="form-control" name="description" id="" aria-label="With textarea"></textarea>
                                    </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Syllabus</label>                                                       
                                        {{form.syllabus}}
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Standard</label>                                                       
                                        {{form.standard}}
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Subject</label>                                                       
                                        {{form.subject}}
                                    </div>
                            </div>
                        </div>
                         
                        <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Chapter</label>                                                       
                                        {{form.chapter}}
                                    </div>
                        </div>
                        </div>


                        {% comment %} <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Material Type</label>                                                       
                                        {{form.material_type}}
                                    </div>
                        </div>
                        </div> {% endcomment %}
                       
                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Image</label>
                                <input type="file" class="form-control-file" name="image" id='' >
                        </div>  
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload thumbnail</label>
                                <input type="file" class="form-control-file" name="thumbnail_image" id='' >
                        </div> 
                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Pdf</label>
                                <input type="file" class="form-control-file" name="pdf" id='' >
                        </div>
                        </div> 
                        <div style="width:800px; margin:0 auto;">     
                                <b><h1>OR</h1></b>
                            

                        </div> 
                        
                        

                        <div class="form-group">
                                    <label for="basic-url">URL</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                        </div>
                                        <input type="text" class="form-control" name="url_field" id="" aria-describedby="basic-addon3">
                                    </div>
                        </div>
                        <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="active" value="active">
                                        <span class="form-check-sign">Active</span>
                                    </label>
                        </div>
                        <div class="form-group">
                        {% comment %} {{form.as_p}}   {% endcomment %}
                            <button class="btn btn-outline-info" type="submit">submit</button>
                            <button class="btn btn-danger">Cancel</button>
                       
                        </div>
        </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    {% comment %} $(document).ready(function(){ {% endcomment %}
    $("#id_syllabus").change(function () {
      var url = $("#studyForm").attr("data-std-url");  // get the url of the `load_cities` view
      var syllabusId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'syllabus_id': syllabusId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_standard").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 
    $("#id_standard").change(function () {
      var url = $("#studyForm").attr("data-sub-url");  // get the url of the `load_cities` view
      var standardId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'standard_id': standardId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_subject").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    });

    $("#id_subject").change(function () {
      var url = $("#studyForm").attr("data-chap-url");  // get the url of the `load_cities` view
      var subjectId = $(this).val();  // get the selected country ID from the HTML input
        
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'subject_id': subjectId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#id_chapter").html(data);  // replace the contents of the city input with the data that came from the server

            /*let html_data = '<option value="">---------</option>';
                data.forEach(function (standard) {
                    html_data += `<option value="${standard.id}">${standard.name}</option>`
                });
                console.log(html_data);
                $("#id_standard").html(html_data);*/
        

        }

      });

    }); 


    



  </script>

{% endblock javascripts %}






{% comment %} <form method="post">
    {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}  
                <button class="btn btn-outline-info" type="submit">submit</button>
                <button class="btn btn-danger">Cancel</button>
                       
        </div>
</form>  {% endcomment %}