






{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

{% comment %} {{form}} {% endcomment %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">SBR ACADEMY</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Document</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Study maerial</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Study Material</div>
                    </div>
        <form method="post"class="post-form" enctype="multipart/form-data">
            {% csrf_token %}                 
             <div class="container-fluid">
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Name</label>
                                <input type="textarea" class="form-control" name="name" id="" placeholder="Enter Your Name">       
                               
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-4"> 
                            <div class="form-group col-md-12">
                                <label for="name">Subtitle</label>
                                <input type="textarea" class="form-control"name="subtitle" id="" placeholder="Enter Your Name">       
                               
                            </div>
                        </div>  
                </div>
                        <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        <textarea class="form-control" name="description" id="" aria-label="With textarea"></textarea>
                                    </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Syllabus</label>                                                       
                                        {{form.syllabus}}
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Standard</label>                                                       
                                        {{form.standard}}
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Subject</label>                                                       
                                        {{form.subject}}
                                    </div>
                            </div>
                        </div>
                         
                        <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Chapter</label>                                                       
                                        {{form.chapter}}
                                    </div>
                        </div>
                        </div>


                        {% comment %} <div class="form-group">
                        <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                    <label for="addPosition">Select Material Type</label>                                                       
                                        {{form.material_type}}
                                    </div>
                        </div>
                        </div> {% endcomment %}
                       
                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Image</label>
                                <input type="file" class="form-control-file" name="image" id='' >
                        </div>  
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload thumbnail</label>
                                <input type="file" class="form-control-file" name="thumbnail_image" id='' >
                        </div> 
                       
                        <div class="form-group">
                                <label for="exampleFormControlFile1">Upload Pdf</label>
                                <input type="file" class="form-control-file" name="pdf" id='' >
                        </div>
                        </div> 
                        <div style="width:800px; margin:0 auto;">     
                                <b><h1>OR</h1></b>
                            

                        </div> 
                        
                        

                        <div class="form-group">
                                    <label for="basic-url">URL</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                        </div>
                                        <input type="text" class="form-control" name="url_field" id="" aria-describedby="basic-addon3">
                                    </div>
                        </div>
                        <div class="form-check"> 
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="active" value="active">
                                        <span class="form-check-sign">Active</span>
                                    </label>
                        </div>
                        <div class="form-group">
                        {% comment %} {{form.as_p}}   {% endcomment %}
                            <button class="btn btn-outline-info" type="submit">submit</button>
                            <button class="btn btn-danger">Cancel</button>
                       
                        </div>
        </form> 
                </div>
            </div>
        </div>
{% endblock %}








{% comment %} <form method="post">
    {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}  
                <button class="btn btn-outline-info" type="submit">submit</button>
                <button class="btn btn-danger">Cancel</button>
                       
        </div>
</form>  {% endcomment %}